html,
body {
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: 30% 700%;
    grid-template-columns: 20% 80%;
    gap: 3px 0px;
    margin: 0%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(255, 196, 0);
}

body ::selection,
body::selection {
    color: rgb(255, 255, 255);
    background: gray;
}

header {
    background-color: black;
    margin-top: -2.5%;
    font-family: 'Shrikhand', cursive;
    color: white;
    grid-row: 1/2;
    grid-column: 1/3;
}

header ul {
    padding-left: 0%;
}

header li {
    display: inline-block;
    margin-left: 2%;
    font-size: 200%;
}

header a:hover {
    color: rgb(105, 105, 105);
}

header a:active {
    color: black;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    height: 186.1px;
    width: 186.1px;
    margin-top: 35px;
    clear: none;
    margin-left: -11%;
}

.pg-inicial-link {
    margin-left: 19%;
    font-size: 160%;
}

.titulo-pg {
    font-size: 410%;
    margin-left: 10%;
}

.sublinhado {
    text-decoration: underline;
}

.interrogacao {
    float: right;
    position: sticky;
    right: 1%;
    top: 2%;
}

section {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: black;
}

main {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

button {
    display: block;
    margin-top: 5%;
    transition: background-color 0.5s ease;
    border-radius: 50%;
    font-family: 'Shrikhand', cursive;
    font-size: 200%;
    margin-left: 15%;
    width: 70%;
    padding: 7%;
    cursor: pointer;
}

main img {
    margin-top: 13px;
    width: 500px;
    height: 500px;
}

#dever {
    display: flex;
}

#dever input,
#dever button {
    outline: none;
    border: none;
}

#novo-dever {
    margin-left: 10%;
    flex: 1;
    height: 40px;
}

#incluir-dever {
    flex: 4/1;
    height: 20px;
    width: 20px;
}
